@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Protest+Strike&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color: #3B4664;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
}
header h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}
.theme{
    display: flex;
    flex-direction: row;
    
}
.theme h2{
    color: white;
    font-size: small;
    margin-top: 41%;

}
.theme ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: small;

}
.theme1{
    background-color: #252D44;
}
.main{
    width: 27%;
}

.main div{
    background-color: #181F32;
    border-radius: 0.5em;
    height: 5em;
   
    display: flex;
    align-items: center;
    justify-content: end;


}
.main h1{
    color: white;
    padding: 1%;
    padding-inline: 2%;
    font-family: "Rubik", sans-serif;
     
}
.numero{
    background-color: #1c253c;
    display:grid;
    width: 25%;
    height: 400px;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(5,auto);
    margin: 1%;
    padding:1%;
    border-radius: 0.5em;
    gap:4%;
}
.white{
    background-color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    font-family: "Rubik", sans-serif;
    font-size: x-large;
    cursor: pointer;
    
}
.DEL{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    background-color: #647299;
    font-family: "Rubik", sans-serif;
    font-size: x-large;
    cursor: pointer;

}
.reset{
    grid-area: 5/1/6/3 ;
    background-color: #647299;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    cursor: pointer;font-family: "Rubik", sans-serif;

}
.red{
    grid-area: 5/3/6/5;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: "Rubik", sans-serif;   

}
@media screen and (max-width: 1440px) {
    .numero{
        width: 25%;
    }
    header{
        width: 25%;
    }
    .main{
        width: 27%;
    }
}

@media screen and (max-width: 1024px) {
    .numero{
        width: 45%;
    }
    header{
        width: 45%;
    }
    .main{
        width: 45%;
    }
    
}
@media screen and (max-width: 768px) {
    .numero{
        width: 60%;
    }
    header{
        width: 60%;
    }
    .main{
        width: 60%;
    }
    
}
@media screen and (max-width: 425px) {
    .numero{
        width: 90%;
    }
    header{
        width: 90%;
    }
    .main{
        width: 90%;
    }
    

}
